.hero_banner {
  height: 537px;
  /* background: gray; */
  padding: 0px 120px;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  font-family: "Inter", sans-serif;
}
.banner_img_div {
  height: 507px;
  /* background: black; */
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner_img_div img {
  height: 500px;
}
.banner_intro_div {
  width: 50%;
  /* background: green; */
  height: 507px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 40px;
}
.base_intro {
  font-size: 14px;
  color: gray;
}
